.edit-separator-hr {
    margin: 10px 5px;
    border-top-style: dashed;
}



.group-name {
    padding-top: 0;
    font-weight: 500;
    padding-right: 0;
}



.permissionsColumn {
    margin-bottom: 20px;
}



.permissionsRow {
    margin: 0 15px;
}

.float-right {
    float: right;
}


.well-sm {
    padding: 1.5rem;
}
